<li data-splash="<%=champion['img_splashes'][0]%>" data-name="<%=champion['name']%>" data-title="<%=champion['title']%>">
  <img src="<%=champion['img']%>" alt="<%=champion['name']%>'s' icon">
  <h3><%=champion['name']%></h3>
  <p><%=champion['title']%></p>
</li>