<% content_for :title do %><%=@summoner.name%> - <%= @summoner.region_name %> - Summoners<% end %>
<% content_for :description do %><%= @summoner_description %><% end %>

<h1><%= @summoner.name %></h1>
<h2><%= @summoner.region_name %></h2>

<% if le = @summoner.league_entries %>
<ul>
  <% le.each do |l| %>
  <% e = l.try(:[], 'entries').try(:first) %>
    <li>
      <p><%= e.try(:[],'player_or_team_name') %></p>
      <p><%= l['tier'] %> <%= e.try(:[],'division') %></p>
      <p><%= l['name'] %> - <%= l['queue'].try(:titleize) %></p>
    </li>
  <% end %>
</ul>
<% end %>