<div class="team table-reponsive">
  <table class="table table-stripe table-condensed table-team">
    <thead>
      <tr class="team-banner <%= name %>-team">
        <th colspan="100">
          <div class="team-name">
            <%= name.upcase %> TEAM
          </div>
          <% unless team.banned_champions.blank? %>
            <div class="team-bans">
              <% team.banned_champions.each do |champ| %>
                <img src="<%=Consts::Champion.find_by_id(champ['champion_id'])['img']%>">
              <% end %>
            </div>
          <% end %>
        </th>
      </tr>
      <tr class="team-header">
        <th>
          Champion
        </th>
        <th>
          Summoner
        </th>
        <th>
          Aggresive<br>Score
        </th>
        <th>
          Recent<br>KDA
        </th>
        <th>
          Season<br>KDA
        </th>
        <th>
          Recent<br>W/L
        </th>
        <th>
          Season<br>W/L
        </th>
        <th>
          10min<br>CS
        </th>
        <th>
          10min(Avg)<br>DmgTaken
        </th>
        <th>
          Jungle<br>CS
        </th>
        <th>
          Counter<br>JCS
        </th>
        <th>
          Wards<br>Placed
        </th>
      </tr>
    </thead>
    <tbody>
      <% team.participants.each do |player| %>
        <% 
          stats_recent = player.ranked_stat_by_recent_champion
          stats_season = player.ranked_stat_by_champion
          champion = Consts::Champion.find_by_id(player.champion_id)
          if stats_season
            season_kda = decimal(stats_season.kda_rate, 2)
            season_wl = percentage(stats_season.win_rate, 2)
          end
          if stats_recent
            recent_kda = decimal(stats_recent.kda_rate, 2)
            recent_wl = percentage(stats_recent.win_rate, 2)
            aggresive = percentage(stats_recent.aggresive_rate, 2)
            cs10 = decimal(stats_recent.avg_cs_at_10m, 1)
            dmgt = decimal(stats_recent.avg_per_min_dmg_taken_at_10m, 1)
            jg = decimal(stats_recent.avg_team_jungle_kills, 1)
            cjg = decimal(stats_recent.avg_enemy_jungle_kills, 1)
            wards = decimal(stats_recent.avg_wards_placed, 1)
          end
        %>
        <tr class="team-player">
          <td class="champion-spells" data-sort-value="<%= champion['name'] %>">
            <div class="champion">
              <img src="<%= champion['img'] %>">
            </div>
            <div class="spells">
              <img src="<%= Consts::Spell.find_by_id(player.spell1_id)['img'] %>">
              <img src="<%= Consts::Spell.find_by_id(player.spell2_id)['img'] %>">
            </div>
          </td>
          <td class="summoner" data-sort-value="<%= player.summoner_name %>">
            <a title="<%= player.summoner_name %>" href="<%=summoner_path({:region=>params['region'].downcase,:summoner_name=>player.summoner_name})%>"><%= truncate(player.summoner_name, length: 8) %></a>
          </td>
          <td class="aggresive" data-sort-value="<%= aggresive %>">
            <% if stats_recent %>
              <%= aggresive %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="kda" data-sort-value="<%= recent_kda %>">
            <% if stats_recent %>
              <div class="kda-rate"><%= recent_kda %></div>
              <span class="k"><%= decimal(stats_recent.avg_kills, 1) %></span>/<span class="d"><%= decimal(stats_recent.avg_deaths, 1) %></span>/<span class="a"><%= decimal(stats_recent.avg_assists, 1) %></span>
            <% else %>
              -
            <% end %>
          </td>
          <td class="kda" data-sort-value="<%= season_kda %>">
            <% if stats_season %>
              <div class="kda-rate"><%= season_kda %></div>
              <span class="k"><%= decimal(stats_season.avg_kills, 1) %></span>/<span class="d"><%= decimal(stats_season.avg_deaths, 1) %></span>/<span class="a"><%= decimal(stats_season.avg_assists, 1) %></span>
            <% else %>
              -
            <% end %>
          </td>
          <td class="wl" data-sort-value="<%= recent_wl %>">
            <% if stats_recent %>
              <%= recent_wl %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="wl" data-sort-value="<%= season_wl %>">
            <% if stats_season %>
              <%= season_wl %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="cs" data-sort-value="<%= cs10 %>">
            <% if stats_recent %>
              <%= cs10 %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="dmg" data-sort-value="<%= dmgt %>">
            <% if stats_recent %>
              <%= dmgt %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="cs" data-sort-value="<%= jg %>">
            <% if stats_recent %>
              <%= jg %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="cs" data-sort-value="<%= cjg %>">
            <% if stats_recent %>
              <%= cjg %>
            <% else %>
              -
            <% end %>
          </td>
          <td class="cs" data-sort-value="<%= wards %>">
            <% if stats_recent %>
              <%= wards %>
            <% else %>
              -
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>