<!DOCTYPE html>
<html>
<head>
  <base href="/">
  <title><%= content_for?(:title) ? yield(:title)+'|LeagueGG' : 'LeagueGG · League of Legends Search and Stats' %></title>
  <meta name="description" content="Find out how hard your opponents farm, which roles they main, and how aggresive they play."></meta>
  <meta name="keywords" content="leaguegg,lol gg,gg,league of legends live,lol live game, lol stats"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    <%= render 'shared/js/ga.js' %>
    <%= render 'shared/js/consts.js' %>
    <%= render 'shared/js/server_version.js' %>
    <%= render 'shared/js/api_key.js' %>
  </script>
  
  <% if content_for?(:before_head) %>
    <%= yield(:before_head) %>
  <% end %>

  <div id="page" ng-app="leaguegg">
    <div ui-view></div>
  </div>
  
  <%= render 'shared/error_browser' %>
  
  <% if content_for?(:js) %>
    <%= yield(:js) %>
  <% end %>
</body>
</html>
