<!DOCTYPE html>
<html>
<head>
  <title><%= AppConsts::SITE_TITLE %></title>
  <meta name="description" content="<%= AppConsts::SITE_DESCRIPTION %>"></meta>
  <meta name="keywords" content="<%= AppConsts::SITE_KEYWORDS.join(',') %>"></meta>
  <meta name="alexaVerifyID" content="NJGDtlu8vJ68ghA42Fs8cAAjkk"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="fragment" content="!">
  <base href="/">
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script type="text/javascript">
    <%= render 'shared/js/ga.js' %>
    <%= render 'shared/js/consts.js' %>
    <%= render 'shared/js/server_version.js' %>
    <%= render 'shared/js/api_key.js' %>
  </script>
  <%= render 'shared/sitelink' %>
  <%= render 'shared/error_browser' %>
  <%= render 'shared/alexa_error_browser' %>
  
  <% if content_for?(:before_head) %>
    <%= yield(:before_head) %>
  <% end %>

  <div id="page" ng-app="leaguegg">
    <div ui-view></div>
  </div>
  
  <% if content_for?(:js) %>
    <%= yield(:js) %>
  <% end %>
</body>
</html>
